.wrapper
{
  
	 width: 100%;
      height: 100vh;
      background:url(we.jpeg) no-repeat 50% 50%;
      background-size: cover;
    background-position: center top;

     }

.navbar-default{
  border: none;
  background-color: rgba(36, 71, 143,0.7);
}

nav ul li a{
	color: #cce0ff;
	font-weight: bold;
	font-size: 1.8rem;

}
.form-group{
	text-align: center;
}

.header-text{
	text-align: center;
	font-weight: 900;
	font-family: Times New Roman;
	padding-top: 5%;
	color: white;
	display: block;
	margin: auto;

}

.form-group select{
	float: right;
	width: 40%;
	padding: 12px;
	border-radius: 9px;
	border: none;
	margin: auto;
	display: block;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 1.6rem;
	text-align: center;
}

.form-group input{
	float: left;
	width: 40%;
	padding: 12px;
	border-radius: 9px;
	border: none;
	margin: auto;
	display: block;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 1.6rem;
	text-align: center;
}


button.btn-submit{
	display: block;
	margin: auto;
	width: 20%;
	color: white;
	background-color: blue;
	border-radius: 10px;
	border: none;
	padding: 12px;
	margin-top: 1rem;
}

@media(max-width: 786px){
	.form-group select,.form-group input,button.btn-submit{
		width: 95%;
		display: block;
		margin: 1rem;
		float: none;
	}

	.token-box,.noty-box{
		width: 90%;
	}
}

.token-box,.noty-box{
	height:300px;
    width:300px;
   
    /*opacity: 0.8;*/
    border-radius: 50px;
    box-sizing: border-box;
    display: block;
    margin: auto;
}
.token-box
{
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 110px;
}
.noty-box
{
  margin-left: 430px;
  margin-top: 110px;
}


.box-heading{
	text-align: center;
	padding-top: 4rem;
	color: #ffffff;
}

.number{
	float: left;
    height:160px;
    width:160px;
    background-color:white;
    border-radius: 1000px;
    box-sizing: border-box;
    margin-left: 65px;
    margin-bottom: 20px;
}

.number-p{
	text-align: center;
	display: block;
	margin: auto;
	padding-top: 45px;
	font-size: 5rem;
	font-weight: 800;
	color: orange;
	text-shadow: 3px 3px 2px green;
}

.notify{
	float: left;
    height:160px;
    width:200px;
    background-color:white;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.notify-p{
	text-align: center;
	display: block;
	margin: auto;
	padding: 50px 5px 0 5px;
	font-size: 2rem;
}
