body
{
 background-color:#24248f ; 
  }

h1,h2,h3,h4,h5,h6 {
    font-weight:700;
    color:#151515;
    font-family: 'Quicksand', sans-serif;
}

h4 {
    font-size:16px;
}

h5.modal-title{
    display: block;
    margin: auto
}

.coolWrapperForm{
    padding: 2rem;
    padding-bottom: 0;
}

.imgLight{
    display: block;
    margin: auto;
    border: none;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 300px;
    margin-top: 0px;
    color: black;
}

.header-logo {
    height: 76px;
    width: 100%;
    background-color:white;
}

.header-logo img{
    height: 60px;
    width: 80px;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 10px;
}
.row1{
    width: 100%;
}

.box{
    margin-top: 20px; 
    margin-bottom: 5px;
    height: 450px;
    width: 200px;
    border-radius: 10px;
    color: black;
}

.box-content{
    background-color:#b3b3ff;
    border: 1px solid white;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 7px 7px 4px pink; 
}

.name-heading{
    padding: 5px 0px 0px 8px;
    font-weight:700;
    color:#151515;
    font-family: 'Cabin', sans-serif;
}

.address-para{
    padding: 0px 0px 2px 10px;
    margin-top: -2%;
    font-family: 'Quicksand';
    font-size: 15px;
}

.para-1{
    background-color: orange;
    padding: 0px 0px 0px 13px;
    margin-left: 5%;
    border: none;
    border-radius: 12px;
}

.para-2{
    background-color: yellow;
    padding: 0px 0px 0px 7px;
    margin-left: 5%;
    border: none;
    border-radius: 12px;
}
.buttonCenter{
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 12px;
    width: 60%;
    border-radius: 10px;
    padding: 8px;
    color: white;
}
.btn-join{
    text-align: center;

}

.join-queue p{
    font-size: 12px;
}

.footerImage{
    padding: 15px;
}

.fa-facebook-square{
    color: #3b5998;
}

.fa-google-plus-square{
    color: #c32f10;
}

.fa-instagram{
    color: #ffffff;
}

.fab{
    margin: 10px;
}

.favIcon{
    padding-top: 22px;
    padding-left: 50px;
    
}

.developer{
    color: #ffffff;
    display: block;
    font-weight: 700;
    padding-top: 55px;
    margin-right: 0;
}

.display-3{
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px red;
}
